{namespace be=TYPO3\CMS\Backend\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:if condition="{data.header} && {data.CType} != 'mbox'">
    <header>
        <h3 id="c{data.uid}">
            {record -> f:render.text(field: 'header')}
            <f:if condition="{context} == 'frontend'">
                <a href="#c{data.uid}" class="manual-anchor" aria-label="{f:translate(key: 'LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:anchor.permalink')}">
                    <core:icon identifier="actions-link" size="small"/>
                </a>
            </f:if>
            <f:if condition="{context} == 'backend'">
                <be:link.editRecord uid="{data.uid}" table="tt_content" fields="header,bodytext" returnUrl="manual" class="edit-record manual-anchor">
                    <core:icon identifier="actions-open" size="small"/>
                </be:link.editRecord>
            </f:if>
        </h3>
    </header>
</f:if>
