parameters:
	ignoreErrors:
		-
			message: '#^Call to method assign\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Controller/InstallationController.php

		-
			message: '#^Call to method render\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Controller/InstallationController.php

		-
			message: '#^Call to method setTemplatePathAndFilename\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Controller/InstallationController.php

		-
			message: '#^Class TYPO3\\CMS\\Fluid\\View\\StandaloneView not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Controller/InstallationController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Core\\Localization\\LanguageService\:\:includeLLFile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Controller/ManualController.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Extbase\\Mvc\\Web\\Routing\\UriBuilder\:\:buildUriFromRoute\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: Classes/Controller/ManualController.php

		-
			message: '#^Call to method assign\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 4
			path: Classes/EventListener/PageContentPreviewEventListener.php

		-
			message: '#^Call to method render\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 2
			path: Classes/EventListener/PageContentPreviewEventListener.php

		-
			message: '#^Call to method setTemplatePathAndFilename\(\) on an unknown class TYPO3\\CMS\\Fluid\\View\\StandaloneView\.$#'
			identifier: class.notFound
			count: 2
			path: Classes/EventListener/PageContentPreviewEventListener.php

		-
			message: '#^Class TYPO3\\CMS\\Fluid\\View\\StandaloneView not found\.$#'
			identifier: class.notFound
			count: 2
			path: Classes/EventListener/PageContentPreviewEventListener.php

		-
			message: '#^Parameter \#1 \$record of method Xima\\XimaTypo3Manual\\EventListener\\PageContentPreviewEventListener\:\:getMboxPreviewHtml\(\) expects array, TYPO3\\CMS\\Core\\Domain\\RecordInterface given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/EventListener/PageContentPreviewEventListener.php

		-
			message: '#^Parameter \#1 \$record of method Xima\\XimaTypo3Manual\\EventListener\\PageContentPreviewEventListener\:\:getMstepsPreviewHtml\(\) expects array, TYPO3\\CMS\\Core\\Domain\\RecordInterface given\.$#'
			identifier: argument.type
			count: 1
			path: Classes/EventListener/PageContentPreviewEventListener.php

		-
			message: '#^Access to an undefined property TYPO3\\CMS\\Core\\DataHandling\\DataHandler\:\:\$bypassWorkspaceRestrictions\.$#'
			identifier: property.notFound
			count: 1
			path: Classes/Generator/ManualGenerator.php

		-
			message: '#^Call to function is_array\(\) with array\{non\-falsy\-string, non\-empty\-string\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Classes/Middleware/EncodeImagesBase64Middleware.php

		-
			message: '#^Class TYPO3\\CMS\\Frontend\\Controller\\TypoScriptFrontendController not found\.$#'
			identifier: class.notFound
			count: 1
			path: Classes/Middleware/EncodeImagesBase64Middleware.php

		-
			message: '#^Instanceof between SimpleXMLElement and SimpleXMLElement will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: Classes/Middleware/EncodeImagesBase64Middleware.php

		-
			message: '#^Offset 0 on non\-empty\-list\<non\-empty\-string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: Classes/Middleware/EncodeImagesBase64Middleware.php

		-
			message: '#^Call to static method TYPO3\\CMS\\Core\\Utility\\MathUtility\:\:canBeInterpretedAsInteger\(\) with int\<1, max\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: Classes/UserFunctions/SelectItemsProcFunc.php
