<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:layout name="Module" />
<f:section name="Content">

    <div class="manual-installation-step" data-step="1">
        <h1>XIMA TYPO3 Manual</h1>
        <f:be.infobox title="{f:translate(key:'LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:installation.noManualFound')}" state="-1">
            <f:translate key="LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:installation.noManualFound.description" />
        </f:be.infobox>

        <h2 class="mt-4 mb-2">
            <f:translate key="LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:installation.createFromPreset" />
        </h2>
        <div class="card-container">
            <f:for each="{presets}" as="preset">
                <div class="card card-size-fixed-small">
                    <div class="card-header">
                        <div class="card-icon">
                            <core:icon identifier="{preset.iconIdentifier}" size="large" />
                        </div>
                        <div class="card-header-body">
                            <h2 class="card-title"><f:translate key="{preset.title}" /></h2>
                            <span class="card-subtitle">
                                <f:translate key="LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:installation.preset.empty.subtitle" />
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><f:translate key="{preset.description}" /></p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary install" data-preset="{preset.identifier}">
                            <core:icon identifier="actions-add" size="small" />
                            <f:translate key="LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:installation.preset.create" />
                        </button>
                    </div>
                </div>
            </f:for>
        </div>
    </div>

    <div class="manual-installation-step hidden" data-step="2">
        <h1>
            <f:translate key="LLL:EXT:xima_typo3_manual/Resources/Private/Language/locallang.xlf:installation.creating" />
            ...
        </h1>
        <div class="px-4 py-4">
            <core:icon identifier="spinner-circle" size="medium" />
        </div>
    </div>

    <div class="manual-installation-step hidden" data-step="3"></div>

</f:section>
</html>
