<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <div class="manual-text{f:if(condition: '{data.imageorient} == 25 || {data.imageorient} == 26', then: ' manual-text--beside')}">
        <f:if condition="{files}">
            <div class="manual-text_media">
                <f:for each="{files}" as="file">
                    <figure>
                        <f:image image="{file}" maxWidth="{settings.media.maxWidth}" alt="{file.alternative}"/>
                        <f:if condition="{file.description}">
                            <figcaption>{file.description}</figcaption>
                        </f:if>
                    </figure>
                </f:for>
            </div>
        </f:if>
        <div class="manual-text_body">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</f:section>
</html>
