services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Xima\XimaTypo3Manual\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  Xima\XimaTypo3Manual\Preview\MtextPreviewRenderer:
    public: true

  Xima\XimaTypo3Manual\EventListener\ModifyButtonBarEventListener:
    tags:
      - name: event.listener
        identifier: 'xima-typo3-manual/event-listener/modify-button-bar'

  Xima\XimaTypo3Manual\EventListener\ContentUsedOnPageEventListener:
    tags:
      - name: event.listener
        identifier: 'xima-typo3-manual/event-listener/content-used-on-page'
